{% extends "base.html" %}

{% block body %}

    <div class="hero-wrap" style="background-image: url('../static/images/CiervoBlanco/ciervoBlanco_Matrimonial.jpg');">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text d-flex align-itemd-end justify-content-center">
          <div class="col-md-9 ftco-animate text-center d-flex align-items-end justify-content-center">
          	<div class="text">
	            <p class="breadcrumbs mb-2"><span class="mr-2"><a href="{{ url_for('index') }}">Inicio</a></span> <span>Sobre nosotros</span></p>
	            <h1 class="mb-4 bread">Sobre nosotros</h1>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section ftc-no-pb ftc-no-pt">
			<div class="container">
				<div class="row">
					<div class="col-md-5 p-md-5 img img-2 img-3 d-flex justify-content-center align-items-center" style="background-image: url(../static/images/image_2.jpg);">
						<a href="https://www.youtube.com/watch?v=R70Hv0Ae-nc" class="icon popup-vimeo d-flex justify-content-center align-items-center">
							<span class="icon-play"></span>
						</a>
					</div>
					<div class="col-md-7 py-5 wrap-about pb-md-5 ftco-animate">
	          <div class="heading-section heading-section-wo-line pt-md-5 pl-md-5 mb-5">
	          	<div class="ml-md-0">
					<span class="subheading">Bienvenidos a nuestro complejo de posadas</span>
					<h2 class="mb-4">Nuestras posadas</h2>
				</div>
				</div>
				<div class="pb-md-5">
							<p>Bienvenidos a su paraiso vacacional!</p>
							<p>Descubre el refugio perfecto para tus vacaciones en nuestras encantadoras posadas. Nuestras posadas ofrecen el equilibrio ideal entre comodidad y lujo. Ya sea que busques una escapada romántica, una aventura en familia o un retiro tranquilo, nuestras instalaciones y servicios te garantizan una experiencia inolvidable.</p>
							<p> Con vistas panorámicas de los majestuosos picos nevados, bosques frondosos y cristalinos lagos, cada cabaña es un santuario de tranquilidad y comodidad. Dejate envolver por la calidez de la madera, el aroma fresco del aire de montaña y la sensacion de paz que solo Bariloche puede ofrecer. </p>
							<p>Reserva hoy y comienza a soñar con tu próxima aventura. ¡Te esperamos!</p>
							<ul class="ftco-social d-flex">
                <li class="ftco-animate"><a href="https://x.com/"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="https://www.facebook.com/"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="https://www.instagram.com/"><span class="icon-instagram"></span></a></li>
              </ul>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<section class="ftco-section">
      <div class="container">
        <div class="row d-flex">
          <div class="col-md-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services py-4 d-block text-center">
              <div class="d-flex justify-content-center">
              	<div class="icon d-flex align-items-center justify-content-center">
              		<span class="flaticon-reception-bell"></span>
              	</div>
              </div>
              <div class="media-body p-2 mt-2">
              <h3 class="heading mb-3">Servicio 24/7</h3>
			  <p> Nuestro equipo está siempre disponible para asegurar que su estancia sea lo más cómoda y placentera posible.</p>
              </div>
            </div>      
          </div>
          <div class="col-md-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services py-4 d-block text-center">
              <div class="d-flex justify-content-center">
              	<div class="icon d-flex align-items-center justify-content-center">
              		<span class="flaticon-serving-dish"></span>
              	</div>
              </div>
              <div class="media-body p-2 mt-2">
              <h3 class="heading mb-3">Restaurante Bar</h3>
			  <p>Disfrute de deliciosas comidas y un ambiente acogedor a cualquier hora que lo desee.</p>
              </div>
            </div>    
          </div>
          <div class="col-md-3 d-flex align-sel Searchf-stretch ftco-animate">
            <div class="media block-6 services py-4 d-block text-center">
              <div class="d-flex justify-content-center">
              	<div class="icon d-flex align-items-center justify-content-center">
              		<span class="flaticon-car"></span>
              	</div>
              </div>
              <div class="media-body p-2 mt-2">
              <h3 class="heading mb-3">Servicios de transporte</h3>
			  <p>Ya sea que necesite un traslado al aeropuerto, una excursión local o cualquier otro servicio de transporte, nuestro equipo está siempre listo para asistirle.</p>
              </div>
            </div>      
          </div>
          <div class="col-md-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services py-4 d-block text-center">
              <div class="d-flex justify-content-center">
              	<div class="icon d-flex align-items-center justify-content-center">
              		<span class="flaticon-spa"></span>
              	</div>
              </div>
              <div class="media-body p-2 mt-2">
              <h3 class="heading mb-3">Servicio de Spa</h3>
			  <p>Disfrute de una amplia variedad de tratamientos relajantes y rejuvenecedores. Nuestro equipo de profesionales está siempre disponible para asegurar que su experiencia sea tranquila y revitalizante. </p>
              </div>
            </div>      
          </div>
        </div>
      </div>
    </section>

{% endblock %}
