{% extends "base.html" %}

{% block head %}
  <title>Actividades</title>
{% endblock %}

{% block body %}

    <div class="hero-wrap" style="background-image: url('../static/images/image_3.jpg');">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text d-flex align-itemd-end justify-content-center">
          <div class="col-md-9 ftco-animate text-center d-flex align-items-end justify-content-center">
          	<div class="text">
	            <p class="breadcrumbs mb-2"><span class="mr-2"><a href="{{ url_for('index') }}">Home</a></span> <span>Blog</span></p>
	            <h1 class="mb-4 bread">Actividades</h1>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section">
      <div class="container">
        <h3>Visita Nuestros Cerros</h3>
        <div class="row d-flex">
          <div class="col-md-3 d-flex ftco-animate">
            <div class="blog-entry align-self-stretch">
              <a class="block-20" style="background-image: url('../static/images/Actividades/cerro_tronador.jpg');">
              </a>
              <div class="text mt-3 d-block">
                <h3 class="heading mt-3"><a href="#">Veni a Descubrir el Increíble Cerro Tronador</a></h3>
                <div class="meta mb-3">
                  <div><a href="#">Saber más</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex ftco-animate">
            <div class="blog-entry align-self-stretch">
              <a class="block-20" style="background-image: url('../static/images/Actividades/cerro_campanario.jpg');">
              </a>
              <div class="text mt-3">
                <h3 class="heading mt-3"><a href="#">Veni a Descubrir el Increíble Cerro Campanario</a></h3>
                <div class="meta mb-3">
                  <div><a href="#">Saber más</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex ftco-animate">
            <div class="blog-entry align-self-stretch">
              <a class="block-20" style="background-image: url('../static/images/Actividades/cerro_catedral.jpg');">
              </a>
              <div class="text mt-3">
                <h3 class="heading mt-3"><a href="#">Veni a Descubrir el Increíble Cerro Catedral </a></h3>
                  <div class="meta mb-3">
                    <div><a href="#">Saber más</a></div>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex ftco-animate">
            <div class="blog-entry align-self-stretch">
              <a class="block-20" style="background-image: url('../static/images/Actividades/cerro_lopez.jpg');">
              </a>
              <div class="text mt-3">
                <h3 class="heading mt-3"><a href="#">Vení a Descubrir el Increíble Cerro López</a></h3>
                <div class="meta mb-3">
                  <div><a href="#">Saber más</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <h3>Viví Experiencias Únicas</h3>
        <div class="row d-flex">
          <div class="col-md-3 d-flex ftco-animate">
            <div class="blog-entry align-self-stretch">
              <a class="block-20" style="background-image: url('../static/images/Actividades/aerosilla.jpg');">
              </a>
              <div class="text mt-3 d-block">
                <h3 class="heading mt-3"><a href="#">Subi Hasta lo Más Alto en la Aerosilla</a></h3>
                <div class="meta mb-3">
                  <div><a href="#">Saber más</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex ftco-animate">
            <div class="blog-entry align-self-stretch">
              <a class="block-20" style="background-image: url('../static/images/Actividades/esquiar.webp');">
              </a>
              <div class="text mt-3">
                <h3 class="heading mt-3"><a href="#">Aprende a Esquiar en la Pista de Nieve</a></h3>
                <div class="meta mb-3">
                  <div><a href="#">Saber más</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex ftco-animate">
            <div class="blog-entry align-self-stretch">
              <a class="block-20" style="background-image: url('../static/images/Actividades/culipatin.jpg');">
              </a>
              <div class="text mt-3">
                <h3 class="heading mt-3"><a href="#">Baja la Ladera de la Montaña en Culipatin</a></h3>
                <div class="meta mb-3">
                  <div><a href="#">Saber más</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex ftco-animate">
            <div class="blog-entry align-self-stretch">
              <a class="block-20" style="background-image: url('../static/images/Actividades/rafting.jpg');">
              </a>
              <div class="text mt-3">
                <h3 class="heading mt-3"><a href="#">Hace Rafting y Aventurate en los Rios de Bariloche</a></h3>
                <div class="meta mb-3">
                  <div><a href="#">Saber más</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex ftco-animate">
            <div class="blog-entry align-self-stretch">
              <a class="block-20" style="background-image: url('../static/images/Actividades/ciclismo.jpg');">
              </a>
              <div class="text mt-3 d-block">
                <h3 class="heading mt-3"><a href="#">Emprende un Viaje por los Caminos y Bosques Montañosos</a></h3>
                <div class="meta mb-3">
                  <div><a href="#">Saber más</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex ftco-animate">
            <div class="blog-entry align-self-stretch">
              <a class="block-20" style="background-image: url('../static/images/Actividades/canopy.jpg')">
              </a>
              <div class="text mt-3">
                <h3 class="heading mt-3"><a href="#">Senti lo que Es Volar Haciendo Canopy</a></h3>
                <div class="meta mb-3">
                  <div><a href="#">Saber más</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex ftco-animate">
            <div class="blog-entry align-self-stretch">
              <a class="block-20" style="background-image: url('../static/images/Actividades/pesca_deportiva.jpg');">
              </a>
              <div class="text mt-3">
                <h3 class="heading mt-3"><a href="#">Realiza Pesca Deportiva Solo o Acompañado</a></h3>
                <div class="meta mb-3">
                  <div><a href="#">Saber más</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex ftco-animate">
            <div class="blog-entry align-self-stretch">
              <a class="block-20" style="background-image: url('../static/images/Actividades/cabalgata.jpg');">
              </a>
              <div class="text mt-3">
                <h3 class="heading mt-3"><a href="#">Cabalga por las Montañas Escarpadas</a></h3>
                <div class="meta mb-3">
                  <div><a href="#">Saber más</a></div>
                </div>
              </div>
            </div>
          </div>
          <h3>Conoce la Historia</h3>
          <div class="row d-flex">
            <div class="col-md-3 d-flex ftco-animate">
              <div class="blog-entry align-self-stretch">
                <a class="block-20" style="background-image: url('../static/images/Actividades/centro_civico.webp');">
                </a>
                <div class="text mt-3 d-block">
                  <h3 class="heading mt-3"><a href="#">Visita el Emblematico Centro Civico de Bariloche</a></h3>
                  <div class="meta mb-3">
                    <div><a href="#">Saber más</a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 d-flex ftco-animate">
              <div class="blog-entry align-self-stretch">
                <a class="block-20" style="background-image: url('../static/images/Actividades/colonia_suiza.jpg');">
                </a>
                <div class="text mt-3">
                  <h3 class="heading mt-3"><a href="#">Recorre la Colonia Suiza y Deleitate con sus Comidas y Artesanias</a></h3>
                  <div class="meta mb-3">
                    <div><a href="#">Saber más</a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 d-flex ftco-animate">
              <div class="blog-entry align-self-stretch">
                <a class="block-20" style="background-image: url('../static/images/Actividades/catedral_nahuel_huapi.jpg');">
                </a>
                <div class="text mt-3">
                  <h3 class="heading mt-3"><a href="#">Conoce la Catedral Nuestra Señora del Nahuel Huapi</a></h3>
                  <div class="meta mb-3">
                    <div><a href="#">Saber más</a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 d-flex ftco-animate">
              <div class="blog-entry align-self-stretch">
                <a class="block-20" style="background-image: url('../static/images/Actividades/museo_patagonia.webp');">
                </a>
                <div class="text mt-3">
                  <h3 class="heading mt-3"><a href="#">Aprende Como Vivian los Antiguos Pobladores de la Zona</a></h3>
                  <div class="meta mb-3">
                    <div><a href="#">Saber más</a></div>
                  </div>
                </div>
              </div>
            </div>
            <h3>Contrata Excursiones y Visitas Guiadas</h3>
            <div class="row d-flex">
              <div class="col-md-3 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                  <a class="block-20" style="background-image: url('../static/images/Actividades/bosque_de_arrayanes.JFIF');">
                  </a>
                  <div class="text mt-3 d-block">
                    <h3 class="heading mt-3"><a href="#">Excursión Guiada al Bosque de Arrayanes</a></h3>
                    <div class="meta mb-3">
                      <div><a href="#">Saber más</a></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                  <a class="block-20" style="background-image: url('../static/images/Actividades/7lagos.avif');">
                  </a>
                  <div class="text mt-3">
                    <h3 class="heading mt-3"><a href="#">Excursión Guiada a la Ruta de los 7 Lagos</a></h3>
                    <div class="meta mb-3">
                      <div><a href="#">Saber más</a></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                  <a class="block-20" style="background-image: url('../static/images/Actividades/circuito_chico.JPG');">
                  </a>
                  <div class="text mt-3">
                    <h3 class="heading mt-3"><a href="#">Excursión Guiada por el Circuito Chico</a></h3>
                    <div class="meta mb-3">
                      <div><a href="#">Saber más</a></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                  <a class="block-20" style="background-image: url('../static/images/Actividades/puerto_blest.jpg');">
                  </a>
                  <div class="text mt-3">
                    <h3 class="heading mt-3"><a href="#">Excursión Guiada por el Puerto Blest</a></h3>
                    <div class="meta mb-3">
                      <div><a href="#">Saber más</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </section>

{% endblock %}
