{% extends "posadaBase.html" %}

	{% block head %}
    <title>Bosque Alto</title>
    {% endblock %}

    {% block Titulo_Principal %}
	<h1 class="mb-4 bread">Cabaña "Bosque Alto"</h1>
    {% endblock %}
	
					{% block Fotos %}
          				<div class="item">
          					<div class="room-img" style="background-image: url(../static/images/BosqueAlto/bosqueAlto_Living.jpg);"></div>
          				</div>
          				<div class="item">
          					<div class="room-img" style="background-image: url(../static/images/BosqueAlto/bosqueAlto_Camas.jpg);"></div>
          				</div>
          				<div class="item">
          					<div class="room-img" style="background-image: url(../static/images/BosqueAlto/bosqueAlto_Camas_2.jpg);"></div>
          				</div>
                          <div class="item">
                            <div class="room-img" style="background-image: url(../static/images/BosqueAlto/bosqueAlto_Cocina.jpg);"></div>
                        </div>
						<div class="item">
					  		<div class="room-img" style="background-image: url(../static/images/BosqueAlto/bosqueAlto_Bano.jpg);"></div>
				  		</div>
						{% endblock %}

						{% block Caracteristicas %}
    							<ul class="list">
	    							<li><span>Max:</span> 10 Personas</li>
	    							<li><span>Tamaño:</span> 670 m2</li>
	    						</ul>
	    						<ul class="list ml-md-5">
	    							<li><span>Vistas:</span> Montaña</li>
	    							<li><span>Baños:</span> 1</li>
	    						</ul>
								<ul class="list ml-md-5">
	    							<li><span>Camas Matrimoniales:</span> 2</li>
                                    <li><span>Camas Individuales:</span> 6</li>
	    						</ul>
    						</div>
    						<p>RESUMEN DE BOSQUE ALTO</p>
						{% endblock %}
						{% block Video %}
		                <img src="{{ url_for('static', filename='images/room-4.jpg') }}" alt="Image placeholder" class="img-fluid">
		                <a href="https://vimeo.com/45830194" class="play-button popup-vimeo"><span class="icon-play"></span></a>
						{% endblock %}
