{% extends "Cabana_Base.html" %}

	{% block head %}
    <title>{{ cabana['nombre'] }}</title>
    {% endblock %}

    {% block Titulo_Principal %}
	<h1 class="mb-4 bread">Cabaña "{{ cabana['nombre'] }}"</h1>
    {% endblock %}

	{% block Fotos %}
	
	<div class="item">
		<div class="room-img" style="background-image: url({{ cabana['foto1'] }});"></div>
		{{ cabana['foto1']}}
	</div>
	<div class="item">
		<div class="room-img" style="background-image: url({{ cabana['foto2'] }});"></div>
	</div>
	<div class="item">
		<div class="room-img" style="background-image: url({{cabana['foto3'] }});"></div>
	</div>
	<div class="item">
		<div class="room-img" style="background-image: url({{cabana['foto4'] }});"></div>
	</div>
	<div class="item">
		<div class="room-img" style="background-image: url({{cabana['foto5'] }});"></div>
	</div>

	{% endblock %}
	

						{% block Caracteristicas %}

							

							{% set total_personas = cabana['camasIndividuales'] + (cabana['camasMatrimoniales'] * 2) %}

    							<ul class="list">
	    							<li><span>Max:</span> {{ total_personas }} </li>
	    							<li><span>Tamaño:</span> {{ cabana['metrosCuadrados'] }}</li>
	    						</ul>
	    						<ul class="list ml-md-5">
	    							<li><span>Vistas:</span> {{ cabana['vistaHacia'] }}</li>
	    							<li><span>Baños:</span> {{ cabana['Bano'] }} </li>
	    						</ul>
								<ul class="list ml-md-5">
	    							<li><span>Camas Matrimoniales:</span> {{ cabana['camasMatrimoniales'] }} </li>
                                    <li><span>Camas Individuales:</span> {{ cabana['camasIndividuales'] }} </li>
	    						</ul>
							
							</div>
							<p>{{ cabana['descripcion'] }}</p>

						
						
						{% endblock %}

						{% block Video %}
						<div class="room-img" style="background-image: url({{ cabana['foto1'] }});"></div>
						<a href="https://vimeo.com/45830194" class="play-button popup-vimeo"><span class="icon-play"></span></a>
						
						{% endblock %}
