{% extends "posadaBase.html" %}

	{% block head %}
    <title>Carpincho</title>
    {% endblock %}

    {% block Titulo_Principal %}
	<h1 class="mb-4 bread">Cabaña "Carpincho"</h1>
    {% endblock %}
						{% block Fotos %}
          				<div class="item">
          					<div class="room-img" style="background-image: url(../static/images/Carpincho/carpincho_Living.jpg);"></div>
          				</div>
          				<div class="item">
          					<div class="room-img" style="background-image: url(../static/images/Carpincho/carpincho_Matrimonial.jpg);"></div>
          				</div>
          				<div class="item">
          					<div class="room-img" style="background-image: url(../static/images/Carpincho/carpincho_Matrimonial_2.jpg);"></div>
          				</div>
                          <div class="item">
                            <div class="room-img" style="background-image: url(../static/images/Carpincho/carpincho_Camas.jpg);"></div>
                        </div>
                        <div class="item">
                            <div class="room-img" style="background-image: url(../static/images/Carpincho/carpincho_Cocina.jpg);"></div>
                        </div>
                        <div class="item">
                            <div class="room-img" style="background-image: url(../static/images/Carpincho/carpincho_Bano_1.jpg);"></div>
                        </div>
                        <div class="item">
                            <div class="room-img" style="background-image: url(../static/images/Carpincho/carpincho_Bano_2.jpg);"></div>
                        </div>
						{% endblock %}
								{% block Caracteristicas %}
    							<ul class="list">
	    							<li><span>Max:</span> 12 Personas</li>
	    							<li><span>Tamaño:</span> 650 m2</li>
	    						</ul>
	    						<ul class="list ml-md-5">
	    							<li><span>Vista:</span> Lago</li>
                                    <li><span>Baños:</span> 2</li>
	    					
	    						</ul>
                                <ul class="list ml-md-5">
	    							<li><span>Camas Matrimoniales:</span> 2</li>
                                    <li><span>Camas Individuales:</span> 8</li>
	    						</ul>

    						</div>
    						<p>RESUMEN DE CARPINCHO</p>
							{% endblock %}
						{% block Video %}
		                <img src="{{ url_for('static', filename='images/room-4.jpg') }}" alt="Image placeholder" class="img-fluid">
		                <a href="https://vimeo.com/685995963" class="play-button popup-vimeo"><span class="icon-play"></span></a>
						{% endblock %}
