{% extends "base.html" %}

{% block head %}
    <title>Inicio</title>
    {% endblock %}

{% block body %}

<section class="home-slider owl-carousel">
	<div class="slider-item" style="background-image:url(../static/images/Foto_Titulo_Cabanas.avif);">
	<div class="overlay"></div>
	<div class="container">
		<div class="row no-gutters slider-text align-items-center justify-content-center">
		<div class="col-md-12 ftco-animate text-center">
		<div class="text mb-5 pb-3">
			<h1 class="mb-3">Posadas del Lago</h1>
			<h2>Naturaleza &amp; Descanso</h2>
		</div>
		</div>
	</div>
	</div>
	</div>

	<div class="slider-item" style="background-image:url(../static/images/Foto_Titulo_Camino.jpg);">
	<div class="overlay"></div>
	<div class="container">
		<div class="row no-gutters slider-text align-items-center justify-content-center">
		<div class="col-md-12 ftco-animate text-center">
		<div class="text mb-5 pb-3">
			<h1 class="mb-3">Un lugar único</h1>
			<h2>SPA &amp; RELAX</h2>
		</div>
		</div>
	</div>
	</div>
	</div>
</section>

<section class="ftco-booking">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<form action="/buscar" class="booking-form" method="post">
				<div class="row justify-content-center">
					<div class="col-md-3 d-flex">
						<div class="form-group p-4 align-self-stretch d-flex align-items-end">
							<div class="wrap">
								<label for="#">Ingreso</label>
								<input type="date" class="form-control " placeholder="Check-in date" name="fechaIngreso" required>
							</div>
						</div>
					</div>
					<div class="col-md-3 d-flex">
					<div class="form-group p-4 align-self-stretch d-flex align-items-end">
							<div class="wrap">
								<label for="#">Egreso</label>
								<input type="date" class="form-control " placeholder="Check-out date" name="fechaEgreso" required>
							</div>
						</div>
					</div>
					<div class="col-md-3 d-flex">
						<div class="form-group d-flex align-self-stretch">
						<input type="submit" value="Chequear Disponibilidad" class="btn btn-primary py-3 px-4 align-self-stretch">
					</div>
					</div>
				</div>
			</form>
			</div>
		</div>
	</div>
</section>


<section class="ftco-section ftc-no-pb ftc-no-pt">
		<div class="container">
			<div class="row">
				<div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(../static/images/Foto_Titulo_Cabanas.avif);">
					<a href="https://www.youtube.com/watch?v=R70Hv0Ae-nc" class="icon popup-vimeo d-flex justify-content-center align-items-center">
						<span class="icon-play"></span>
					</a>
				</div>
				<div class="col-md-7 py-5 wrap-about pb-md-5 ftco-animate">
			<div class="heading-section heading-section-wo-line pt-md-5 pl-md-5 mb-5">
			<div class="ml-md-0">
				<span class="subheading">Bienvenidos a nuestro complejo de posadas</span>
				<h2 class="mb-4">Nuestras posadas</h2>
			</div>
			</div>
			<div class="pb-md-5">
						<p>Bienvenidos a su paraiso vacacional!</p>
						<p>Descubre el refugio perfecto para tus vacaciones en nuestras encantadoras posadas. Nuestras posadas ofrecen el equilibrio ideal entre comodidad y lujo. Ya sea que busques una escapada romántica, una aventura en familia o un retiro tranquilo, nuestras instalaciones y servicios te garantizan una experiencia inolvidable.</p>
						<p> Con vistas panorámicas de los majestuosos picos nevados, bosques frondosos y cristalinos lagos, cada cabaña es un santuario de tranquilidad y comodidad. Dejate envolver por la calidez de la madera, el aroma fresco del aire de montaña y la sensacion de paz que solo Bariloche puede ofrecer. </p>
						<p>Reserva hoy y comienza a soñar con tu próxima aventura. ¡Te esperamos!</p>
						<ul class="ftco-social d-flex">
			</ul>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section">
	<div class="container">
	<div class="row d-flex">
		<div class="col-md-3 d-flex align-self-stretch ftco-animate">
		<div class="media block-6 services py-4 d-block text-center">
			<div class="d-flex justify-content-center">
			<div class="icon d-flex align-items-center justify-content-center">
				<span class="flaticon-reception-bell"></span>
			</div>
			</div>
			<div class="media-body p-2 mt-2">
			<h3 class="heading mb-3">Servicio 24/7</h3>
			<p> Nuestro equipo está siempre disponible para asegurar que su estancia sea lo más cómoda y placentera posible.</p>
			</div>
		</div>      
		</div>
		<div class="col-md-3 d-flex align-self-stretch ftco-animate">
		<div class="media block-6 services py-4 d-block text-center">
			<div class="d-flex justify-content-center">
			<div class="icon d-flex align-items-center justify-content-center">
				<span class="flaticon-serving-dish"></span>
			</div>
			</div>
			<div class="media-body p-2 mt-2">
			<h3 class="heading mb-3">Restaurante Bar</h3>
			<p>Disfrute de deliciosas comidas y un ambiente acogedor a cualquier hora que lo desee.</p>
			</div>
		</div>    
		</div>
		<div class="col-md-3 d-flex align-sel Searchf-stretch ftco-animate">
		<div class="media block-6 services py-4 d-block text-center">
			<div class="d-flex justify-content-center">
			<div class="icon d-flex align-items-center justify-content-center">
				<span class="flaticon-car"></span>
			</div>
			</div>
			<div class="media-body p-2 mt-2">
			<h3 class="heading mb-3">Servicios de transporte</h3>
			<p>Ya sea que necesite un traslado al aeropuerto, una excursión local o cualquier otro servicio de transporte, nuestro equipo está siempre listo para asistirle.</p>
			</div>
		</div>      
		</div>
		<div class="col-md-3 d-flex align-self-stretch ftco-animate">
		<div class="media block-6 services py-4 d-block text-center">
			<div class="d-flex justify-content-center">
			<div class="icon d-flex align-items-center justify-content-center">
				<span class="flaticon-spa"></span>
			</div>
			</div>
			<div class="media-body p-2 mt-2">
			<h3 class="heading mb-3">Servicio de Spa</h3>
			<p>Disfrute de una amplia variedad de tratamientos relajantes y rejuvenecedores. Nuestro equipo de profesionales está siempre disponible para asegurar que su experiencia sea tranquila y revitalizante. </p>
			</div>
		</div>      
		</div>
	</div>
	</div>
</section>

{% endblock %}