{% extends "posadaBase.html" %}

{% block head %}
	<title>{{ posada['nombre'] }}</title>
{% endblock %}

{% block Titulo_Principal %}
	<h1 class="mb-4 bread">Cabaña "{{ posada['nombre'] }}"</h1>
{% endblock %}

{% block Fotos %}

	<div class="item">
		<img class="room-img" src="/{{ posada['foto1'] }}"> 
	</div>
	<div class="item">
		<img class="room-img" src="/{{ posada['foto2'] }}">  
	</div>
	<div class="item">
		<img class="room-img" src="/{{ posada['foto3'] }}">   
	</div>
	<div class="item">
		<img class="room-img" src="/{{ posada['foto4'] }}">   
	</div>
	<div class="item">
		<img class="room-img" src="/{{ posada['foto5'] }}">   
	</div>

{% endblock %}

{% block errorBlock %}

	{% if error %}
		<div class="p-2 border mb-4 bg-danger text-white text-center">{{error}}</div>
	{% endif %}

{% endblock %}

{% block Caracteristicas %}

	{% set total_personas = posada['camasIndividuales'] + (posada['camasMatrimoniales'] * 2) %}

		<ul class="list">
			<li>Maximo personas: <span class="font-weight-bold text-dark"> {{ total_personas }} </span></li>
			<li>Ambientes: <span class="font-weight-bold text-dark"> {{ posada['ambientes'] }} </span></li>
		</ul>
		<ul class="list ml-md-5">
			<li>Camas Matrimoniales: <span class="font-weight-bold text-dark"> {{ posada['camasMatrimoniales'] }}</span> </li>
			<li>Camas Individuales: <span class="font-weight-bold text-dark"> {{ posada['camasIndividuales'] }}</span> </li>
		</ul>
		<ul class="list ml-md-5">
			<li>Vista hacia: <span class="font-weight-bold text-dark"> {{ posada['vistaHacia'] }} </span></li>
			<li>Tamaño: <span class="font-weight-bold text-dark"> {{ posada['metrosCuadrados'] }}m2 </span></li>
		</ul>
	</div>

	<h3>Extras</h3>

	{% for extra in posada['descripcion'] %}
		<li>{{ extra }}</li>
	{% endfor %}

{% endblock %}

{% block Video %}

	<img class="room-img" src="/{{ posada['foto1'] }}"> 
	<a href="https://vimeo.com/45830194" class="play-button popup-vimeo"><span class="icon-play"></span></a>

{% endblock %}

{% block reserva %}

	{% if reservable %}

		<div class="sidebar-wrap bg-light ftco-animate">
			<h3 class="heading mb-4">Reserva</h3>
			<form action="{{ url_for('reservar')}}" method="post">
				<div class="fields">
					<div class="form-group">
						<label>Fecha Ingreso</label>
						<input type="date" class="form-control" placeholder="Fecha Ingreso" name="fechaIngreso" value="{{ fechas['fechaIngreso'] }}" required>
					</div>
					<div class="form-group">
						<label>Fecha Egreso</label>
						<input type="date" class="form-control" placeholder="Fecha Egreso" name="fechaEgreso" value="{{ fechas['fechaEgreso'] }}" required>
					</div>
				 
					<div class="form-group">
						<input type="text" class="form-control d-none" value="{{ posada['identificador'] }}" name="identificadorPosada">
					</div>
			
					<div class="form-group">
						<input type="submit" value="Reservar" class="btn btn-primary py-3 px-5">
					</div>
				</div>
			</form>
		</div>

	{% endif %}

{% endblock %}